body{
background-image: url(a.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%; 
font-size: 18px;
color: #59c3c3
}

h1{
	; text-align:left;
}

article{
	width:	1000px;
	height:	990px;
	text-align:justify;
}
b{
	font-size:22px;
}
#personas{
	float:right;
	padding:15px;
}


#redes{
 height: 50px;
 width:  50px;
}
