body {
background-image: url(a1.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%; 
font-size: 18px;
}



h1 {

	color: #ab32de; text-align:left;
}

#box    {
	
font-family: 'Baloo Tammudu 2', cursive;	
	
}


article{

	width:	850px;
	height:	1050px;
	text-align:justify;

}
#box    {
	
font-family: 'Baloo Tammudu 2', cursive;	
	
}
b{
	font-size: 20px;
}



#redes{
 height: 50px;
 width:  50px;
}
#personas{

	float:right;

}
